    #image,#isi{
        padding-top: 20px;
    }
    #isi{
        padding-bottom: 20px;
    }
    #galery{
        margin-top: -5px;
        padding-top: 40px;
        height: 350px;
    }
    #detail{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #pemain{
        margin-top: -10px;
        padding-top: 20px;
    }
    #image,#isi,#pemain,#komen,#detail,#galery{
        margin-left: 100px;
        background-color: white;
        width: 1150px;
        box-shadow: 5px 0px #bfc0c1;
    }
    #image > table{
        margin-left: 20px;
    }
    #pemain > table{
        margin-left: 20px;
    }
    #pemain table th{
        border-color: #ccc;
        font-size: 17px;
        height: 30px;
        background: #ededed;
        padding: 10px 30px;
    }
    #pemain  table  td{
        border-color: #ccc;
        padding: 10px 30px;
        font-size: 15px;
        height: 30px;
        background: #fafafa;
    }
    #isi > p{
        margin-left: 20px;
    }
    #detail > p{
        margin-left: 20px;
    }


    * {
      box-sizing: border-box;
    }

    .slider {
        width: 70%;
        margin: 30px 20px;
        height: 200px;
    }

    .slick-slide {
      margin: 0px 5px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      
    }

    #myImg{
    	cursor: pointer;
    }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}