<style type="text/css">
	footer{
		padding-top: 20px;
		background-color: #494949;
		margin-left: 99px;
		margin-right: 99px;
		height: 250px;
		-webkit-box-shadow: 10px 0 5px -2px #888;
	}
	footer li{
		list-style-type: none;
		color: white;
	}
	footer span{
		font-size: 20px;
		color: white;
		margin-left: 30px;
		display: inline-block;
		margin-top: 10px;
	}
	footer a{
		color: white;
		text-decoration: none;
	}
	footer a:hover{
		color: #80acf2;
		text-decoration: none;
	}
	@media only screen and (max-width: 1300px) {
	    footer {
		margin-left: 90px;
		margin-right: 90px;
	    }
	}
	@media only screen and (max-width: 1024px) {
	    footer {
	        margin-left: 75px;
			margin-right: 75px;
	    }
	    footer img{
	    	width: 25px;
	    	height: 25px;
	    }
	    footer span{
	    	font-size: 15px;
	    }
	}
</style>
<footer>
	<table >
		<tr>
			<td width="300px">
				<ul>
					<li><a href="diputar.php">Sedang Diputar</a></li>
					<li style="margin-top: 5px"><a href="genre.php">Genre</a></li>
					<li style="margin-top: 5px"><a href="akandatang.php">Akan Datang</a></li>
				</ul>
			</td>
			<td width="280px">
				<ul>
					<li><a href="jenis.php?genre=action">Action</a></li>
					<li style="margin-top: 5px"><a href="jenis.php?genre=drama">Drama</a></li>
					<li style="margin-top: 5px"><a href="jenis.php?genre=horror">Horror</a></li>
				</ul>
			</td>
			<td width="300px">
				<span>Follow Us on Social Media</span>
				<ul style="margin-top: 10px;">
					<li style="display: inline;"><img src="icon/facebook2.png" width="40px" height="40px"></li>
					<li style="display: inline;margin-left: 10px;"><img src="icon/twiter2.png" width="40px" height="40px"></li>
					<li style="display: inline;margin-left: 10px;"><img src="icon/instagram2.png" width="40px" height="40px"></li>
					<li style="display: inline;margin-left: 10px;"><img src="icon/google.png" width="40px" height="40px"></li>
				</ul>
			</td>
			<td width="200px">
				<ul>
					<li>Contac Us</li>
					<li style="margin-top: 5px"><a href="aboutus.php">About FilmQu</a></li>
					<li style="margin-top: 5px">Akan Datang</li>
				</ul>
			</td>
		</tr>
	</table>
	<div style="margin-left: 40px;margin-top: 10px;">
	<h4 style="color: white;">Hubungi Saya</h4>
	<p style="color: white;">Dicky Medianto & Andry Malik</p>
    <address style="color: white;">
        Jalan Dewi Sartika 14650
    </address>
    </div>
    <div style="color: white;margin-left: 40px;margin-top: 10px;text-align: center;">
    	Copy Right 2018 FilemQu. All rights reserved.
    </div>
</footer>