<style type="text/css">
	footer{
		padding-top: 20px;
		background-color: #494949;
		margin-left: 100px;
		margin-right: 99px;
		height: 250px;
		-webkit-box-shadow: 10px 0 5px -2px #888;
	}
	footer li{
		list-style-type: none;
		color: white;
	}
	footer span{
		font-size: 20px;
		color: white;
		margin-left: 30px;
		display: inline-block;
		margin-top: 10px;
	}
</style>
<footer>
	<table >
		<tr>
			<td width="300px">
				<ul>
					<li>Sedang Diputar</li>
					<li style="margin-top: 5px">Genre</li>
					<li style="margin-top: 5px">Akan Datang</li>
				</ul>
			</td>
			<td width="280px">
				<ul>
					<li>Sedang Diputar</li>
					<li style="margin-top: 5px">Genre</li>
					<li style="margin-top: 5px">Akan Datang</li>
				</ul>
			</td>
			<td width="300px">
				<span>Follow Us on Social Media</span>
				<ul style="margin-top: 10px;">
					<li style="display: inline;"><img src="../icon/facebook2.png" width="40px" height="40px"></li>
					<li style="display: inline;margin-left: 10px;"><img src="../icon/twiter2.png" width="40px" height="40px"></li>
					<li style="display: inline;margin-left: 10px;"><img src="../icon/instagram2.png" width="40px" height="40px"></li>
					<li style="display: inline;margin-left: 10px;"><img src="../icon/google.png" width="40px" height="40px"></li>
				</ul>
			</td>
			<td width="200px">
				<ul>
					<li>Contac Us</li>
					<li style="margin-top: 5px">About FilmQu</li>
					<li style="margin-top: 5px">Akan Datang</li>
				</ul>
			</td>
		</tr>
	</table>
	<div style="margin-left: 40px;margin-top: 10px;">
	<h4 style="color: white;">Hubungi Saya</h4>
	<p style="color: white;">Dicky Medianto & Andry Malik</p>
    <address style="color: white;">
        Jalan Dewi Sartika 14650
    </address>
    </div>
    <div style="color: white;margin-left: 40px;margin-top: 10px;text-align: center;">
    	Copy Right 2018 FilemQu. All rights reserved.
    </div>
</footer>