<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>megamenu.js | Last responsive megamenu you'll ever need</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="Mario Loncarek">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="../plugin/megamenu/css/style2.css">
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugin/megamenu/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
        window.Modernizr || document.write('<script src="../plugin/megamenu/js/vendor/modernizr-2.8.3.min.js"><\/script>')
    </script>
</head>

<body>

    <div class="menu-container">
        <div class="menu">
        <a href=""><b style="font-size: 25px;padding-top: 5px;margin-left: 40px;">FilemQuh</b></a>
        <input type="search" placeholder="Cari..." id="cari" style="margin-left: 40px;">
        <button><span class="glyphicon glyphicon-search"></span></button>
        
            <ul>
                <li><a href="http://marioloncarek.com"><b>Movies</b></a>
                    <ul>
                        <li><a href="http://marioloncarek.com">Movies</a>
                            <ul>
                                <li><a href="">Akan Datang</a></li>
                                <li><a href="#">Sedang Diputar</a></li>
                                <li><a href="#">Terpopuler</a></li>
                                <li><a href="#">Genre</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sedang Diputar</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Akan Datang</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Terpopuler</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href=""><b>Celebrity</b></a>
                    <ul>
                        <li><a href="">Born Today</a></li>
                    </ul>
                </li>
                <li><a href="http://marioloncarek.com"><b>News</b></a>
                    <ul>
                        <li><a href="http://marioloncarek.com">Movies</a>
                            <ul>
                                <li><a href="">Akan Datang</a></li>
                                <li><a href="#">Sedang Diputar</a></li>
                                <li><a href="#">Terpopuler</a></li>
                                <li><a href="#">Genre</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sedang Diputar</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Akan Datang</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Terpopuler</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <li><a href="http://marioloncarek.com">Chart</a>
                    <ul>
                        <li><a href="#">School</a>
                            <ul>
                                <li><a href="#">Lidership</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Gambar</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Gambar</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Gambar</a>
                            <ul>
                                <li><a href="#"><img src="../cover/animation.jpg" height="150px" width="200px"></a><br>
                                <label>Animation</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../plugin/bootstrap/js/bootstrap.js"></script>
    <script>
        window.jQuery || document.write('<script src="../plugin/megamenu/js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <script src="../plugin/megamenu/js/megamenu.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#klik').click(function(){
                click();
            })

            $('#cari').focus(function(){
                $('#cari').animate({
                    height:'50px',
                    width:'800px'
                })
                
            })

            $('#cari').blur(function(){
                $('#cari').animate({
                    height:'50px',
                    width:'400px'
                })
                
            })
        });
    </script>
</body>

</html>